.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 300px;
  align-items: center;
}

