@import url(stylesheets/navbar.css);
@import url(stylesheets/about.css);
@import url(stylesheets/skills.css);
@import url(stylesheets/work.css);
@import url(stylesheets/contact.css);

html {
  width: 100%;
}

body {
  background-image: url("img/cover.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  margin: 30px 0;
}

h4 {
  margin-bottom: 20px;
}
a {
  color: #252525;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: medium;
  text-decoration: none;
}


.content {
  margin: 30px;
}


.cadre {
  border: solid 1px #F2F2F2;
  border-radius: 10px;
  box-shadow: 0px 6px 40px rgba(188, 185, 185, 0.43);
  background-color: white;
  margin: 10px 20px;
  width: 100%;
}



