.about {
  display: flex;
/*  justify-content: space-between;*/
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

#about {
  text-align: left;
  margin: 30px 0;
}

.about-text {
}

#profile-pic {
   width: 170px;
   margin: 10px 0;
}
