.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 300px;
  align-items: center;
}

a#about-btn:hover {
  color: #4D68BD;
  font-weight: bold;
}

a#work-btn:hover {
  color: #E73939;
  font-weight: bold;
}

a#contact-btn:hover {
  color: #FFD951;
  font-weight: bold;
}


#h:hover {
  color: #4D68BD;
}

#dallatorre:hover {
  color: #E73939;
}

#com:hover {
  color: #FFD951;
}

